.whitegoods-section {
  background: linear-gradient(rgba(58, 55, 86, 0.7), rgba(10, 1, 61, 0.7)), url('../../../assets/industry_logo/whitegoods.webp');
    background-size: cover;
    background-position: center;
    height: 250px; /* Adjust height for stripe-like appearance */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 64px;
  }
  
  .whitegoods-content-wrapper {
    text-align: center;
    color: white;
  }
    
  .whitegoods-section-title {
    font-size: 3.0rem;
    font-weight: bold;
    font-family: "Changa", sans-serif;
  }
   
  .whitegoods-section-description {
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: "Changa", sans-serif;
  }

  /* Industry Overview Section */
.whitegoods-industry-overview {
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}

.whitegoods-industry-overview h2 {
  font-size: 44px;
  margin-bottom: 25px;
  font-family: "Changa", sans-serif;
  font-weight: normal;
  color: #1A3E70;
}

.whitegoods-industry-overview p {
  text-align: justify;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Arial", sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: black;
}

.gray-line {
  border: none;
  border-top: 1px solid gray;
  margin-top: 40px;
}

/* Key Challenges Section */
.whitegoods-key-challenges {
  display: flex;
  padding: 40px 20px;
  background-color: white;
  align-items: center;
}

.whitegoods-key-challenges-content {
  flex: 1;
  padding-right: 20px;
  margin-left: 200px;
  margin-right: 80px;
}

.whitegoods-key-challenges-heading {
  font-size: 44px;
  margin-bottom: 40px;
  color: #1A3E70;
  text-align: center;
  font-family: "Changa", sans-serif;
  font-weight: normal;
}

.whitegoods-key-challenges-list {
  list-style: none;
  padding-left: 0;
  font-size: 16px;
  color: black;
  font-family: "Arial", sans-serif;
  line-height: 24px;
}

.whitegoods-key-challenges-list li {
  margin-bottom: 15px;
  text-align: justify;
  font-family: "Arial", sans-serif;
}

.whitegoods-key-challenges-image {
  flex: 1;
}

.whitegoods-key-challenges-image img {
  width: 80%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 60px;
}

  /* Offerings Section */
.whitegoods-offerings-section {
  padding: 40px 20px;
  background-color: rgb(235, 248, 253);
}

.whitegoods-offerings-title {
  font-size: 44px;
  text-align: center;
  margin-bottom: 40px;
  color: #1A3E70;
  font-family: "Changa", sans-serif;
  font-weight: normal;
}

.whitegoods-offerings-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-right: 200px;
  margin-left: 200px;
}

.whitegoods-offering-card {
  background-color: rgb(235, 248, 253);
  padding: 10px;
}

.whitegoods-offering-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  font-family: "Changa", sans-serif;
  font-weight: normal;
}

.whitegoods-offering-card p,
.whitegoods-offering-card ul {
  font-size: 16px;
  color: black;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  text-align: justify;
}

.whitegoods-offering-card ul {
  list-style-type: disc;
  margin-left: 20px;
}

.whitegoods-offering-card ul li {
  margin-bottom: 1px;
}

/* Why Nagarkot Section */
.why-nagarkot-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A3E70;
}

.image-container {
  flex: 1;
}

.why-nagarkot-image {
  width: 100%;
  height: auto;
  border-radius: 0px;
  opacity: 0.5; /* Adds opacity to the image */
  margin-left: 50px;
}

.content-container {
  flex: 1.5;
  padding-left: 200px;
  margin-right: 50px;
}

.why-nagarkot-title {
  font-size: 44px;
  margin-bottom: 15px;
  font-family: "Changa", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  color: white;
}

.why-nagarkot-list {
  list-style-type: disc;
  font-family: "Changa", sans-serif;
  margin-left: 20px;
  font-size: 17px;
  text-align: justify;
  line-height: 24px;
  color: white;
}

.why-nagarkot-list li {
  margin-bottom: 15px;    
}

.why-nagarkot-summary {
  margin-top: 20px;
  font-size: 17px;
  color: white;
  line-height: 1.6;
  font-family: "Changa", sans-serif;
}

/*media query*/

@media (min-width:320px) and (max-width:520px){
  .whitegoods-section{
    margin-top: 0;
    width: 100%;
    min-height: 300px;
  }
  .whitegoods-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
  .whitegoods-section-title{
    font-size: 28px;
    line-height: 1.1;
  }
  .whitegoods-section-description{
    font-size: 14px;
   
  }
  .whitegoods-industry-overview{
    margin-top: 20px;
  }
  .whitegoods-industry-overview h2{
    font-size: 28px;
  }
  .whitegoods-industry-overview p{
    font-size: 16px;
    margin: auto;
    padding: 0;
    width: 100%;
  }
  .whitegoods-key-challenges{
    width: 90%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: auto;
    padding-top: 0;
    
  }
  .whitegoods-key-challenges-heading{
    font-size: 32px;
    line-height: 42px;
  }
  .whitegoods-key-challenges-content{
    margin: auto;
  }
  .whitegoods-key-challenges-image{
    width: 100%;
    /* height: 200px; */
  }
  .whitegoods-key-challenges-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
  }
  .whitegoods-offerings-title {
    font-size: 28px;
    line-height: 36px;
  }
  .whitegoods-offerings-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: auto;
  }
  .whitegoods-offering-card h3{
    font-size: 22px;
    line-height: 1.1;
  }
  .whitegoods-offering-card p{
    font-size: 14px;
  }
  .why-nagarkot-section{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
    margin: auto;
    gap: 20px;
   
   }
   .image-container{
     width: 90%;
     margin:auto;
   }
   .why-nagarkot-image{
     margin-left: 0;
     width:100%;
   }
   .content-container{
     width: 80%;
     padding-left: 0px;
     margin-right: 0px;
     margin-left: 0px;
     flex: 1;
   }
   .why-nagarkot-title{
     font-size: 28px;
   }
   .why-nagarkot-list {
     margin-left: 0;
     line-height: 18px;
     text-align: inherit;
   }
   .why-nagarkot-list li{
     font-size: 14px;
   }
   .why-nagarkot-summary{
     font-size: 14px;
   }
}

@media (min-width:520px) and (max-width:978px){
  .whitegoods-section{
    margin-top: 0;
    width: 100%;
    min-height: 300px;
  }
  .whitegoods-content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
  }
  .whitegoods-section-title{
    font-size: 36px;
    line-height: 1.1;
  }
  .whitegoods-section-description{
    font-size: 14px;
   
  }
  .whitegoods-industry-overview{
    margin-top: 20px;
  }
  .whitegoods-industry-overview h2{
    font-size: 28px;
  }
  .whitegoods-industry-overview p{
    font-size: 16px;
    margin: auto;
    padding: 0;
    width: 100%;
  }
  .whitegoods-key-challenges{
    width: 90%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: auto;
    padding-top: 0;
    
  }
  .whitegoods-key-challenges-heading{
    font-size: 32px;
    line-height: 42px;
  }
  .whitegoods-key-challenges-content{
    margin: auto;
  }
  .whitegoods-key-challenges-image{
    width: 100%;
    /* height: 200px; */
  }
  .whitegoods-key-challenges-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
  }
  .whitegoods-offerings-title {
    font-size: 28px;
    line-height: 36px;
  }
  .whitegoods-offerings-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
  }
  .whitegoods-offering-card h3{
    font-size: 22px;
    line-height: 1.1;
  }
  .whitegoods-offering-card p{
    font-size: 14px;
  }
  .why-nagarkot-section{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
    margin: auto;
    gap: 20px;
   
   }
   .image-container{
     width: 90%;
     margin:auto;
   }
   .why-nagarkot-image{
     margin-left: 0;
     width:100%;
   }
   .content-container{
     width: 80%;
     padding-left: 0px;
     margin-right: 0px;
     margin-left: 0px;
     flex: 1;
   }
   .why-nagarkot-title{
     font-size: 28px;
   }
   .why-nagarkot-list {
     margin-left: 0;
     line-height: 18px;
     text-align: inherit;
   }
   .why-nagarkot-list li{
     font-size: 14px;
   }
   .why-nagarkot-summary{
     font-size: 14px;
   }
}

  