@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.services {
  margin: 80px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  text-align: center;
  margin-bottom: 40px; /* Space between the heading and the cards */
}

.services-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
}

.service {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  flex: 1 1 30%; /* Adjust flex properties for responsiveness */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure navbar and content are contained */
}

.service-navbar {
  background: linear-gradient(to right, #8e79f7, #070463); /* Background color */
  padding: 20px;
  text-align: center;
  color: white;
}

.navbar-title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 700; /* Make the title bold */
}

.service-content {
  padding: 20px;
  background-color: white;
  flex: 1; /* Take up remaining space */
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.card-content {
  font-size: 18px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.learn-more {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  color: #007bff; /* Link color */
  cursor: pointer;
}

.learn-more:hover {
  color: #0056b3; /* Darker blue on hover */
}
