.services{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 75px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    min-height: 500px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.card-content {
    font-size: 1em;
    color: #666;
}

.service:hover {
    background-color: blue;   
    color: white;
}

.service:hover .card-title {
    color: white;
}

.service:hover .card-content {
    color: white;
}
