@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Pacifico&family=Qwitcher+Grypen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

.services {
  margin: 80px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
 
.services-heading {
  font-family: 'Changa', sans-serif;
  font-size: 44px;
  font-weight: normal;
  text-align: center;
  background: linear-gradient(to left, #e4855d, #040254);
    -webkit-background-clip: text;
    color: transparent;
  margin-bottom: 20px; /* Space between the heading and the cards */
}

.services-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
}

.service {
  margin: 10px;
  max-width: 500px;
  flex: 1 1 30%; /* Adjust flex properties for responsiveness */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Ensure navbar and content are contained */
}

.service-navbar {
  padding: 20px;
  text-align: center;
  color: black;
}

.navbar-title {
  font-size: 48px;
  font-weight: 25; /* Make the title bold */
  font-family: "Pacifico", cursive;
  color: #D71F26;
}

.service-content {
  padding-right: 70px;
  padding-left: 70px;
  background-color: white;
  line-height: 1.5;
  margin-top: 10px;
  flex: 1; /* Take up remaining space */
}

.card-content {
  font-size: 18px;
  color: black;
  font-family: 'Changa', sans-serif;
}

.learn-more {
  display: block;
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  font-family: 'Changa', sans-serif;
  text-decoration: underline;
  color: #D71F26; /* Link color */
  cursor: pointer;
}


.button{
  margin-top: 20px;
}
