.apparel-fashion-section {
  background: linear-gradient(rgba(58, 55, 86, 0.7), rgba(10, 1, 61, 0.7)), url('../../../assets/industry_logo/apparel.webp');
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 250px; /* Adjust height for stripe-like appearance */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 64px;
}

.apparel-content-wrapper {
  text-align: center;
  color: white;
} 

.apparel-section-title {
    font-size: 3.0rem;
    font-weight: bold;
    font-family: "Changa", sans-serif;
}

.apparel-section-description {
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: "Changa", sans-serif;
}

/* Industry Overview Section */
.apparel-industry-overview {
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}

.apparel-industry-overview h2 {
  font-size: 44px;
  margin-bottom: 25px;
  font-family: "Changa", sans-serif;
  font-weight: normal;
  color: #1A3E70;
}

.apparel-industry-overview p {
  text-align: justify;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.gray-line {
  border: none;
  border-top: 1px solid gray;
  margin-top: 40px;
}

/* Offerings Section */
.apparel-offerings-section {
  padding: 40px 20px;
  background-color: rgb(220, 237, 244);
}

.apparel-offerings-title {
  font-size: 44px;
  text-align: center;
  margin-bottom: 40px;
  color: #1A3E70;
  font-family: "Changa", sans-serif;
  font-weight: normal;
}

.apparel-offerings-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-right: 200px;
  margin-left: 200px;
}

.apparel-offering-card {
  background-color: rgb(220, 237, 244);
  padding: 10px;
}

.apparel-offering-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  font-family: "Changa", sans-serif;
  font-weight: normal;
}

.apparel-offering-card p,
.apparel-offering-card ul {
  font-size: 16px;
  color: black;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  text-align: justify;
}

.apparel-offering-card ul {
  list-style-type: disc;
  margin-left: 20px;
}

.apparel-offering-card ul li {
  margin-bottom: 1px;
}

/* Why Nagarkot Section */
.why-nagarkot-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A3E70;
}

.image-container {
  flex: 1;
}

.why-nagarkot-image {
  width: 100%;
  height: auto;
  border-radius: 0px;
  opacity: 0.5; /* Adds opacity to the image */
  margin-left: 50px;
}

.content-container {
  flex: 1.5;
  padding-left: 200px;
  margin-right: 50px;
}

.why-nagarkot-title {
  font-size: 44px;
  margin-bottom: 15px;
  font-family: "Changa", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  color: white;
}

.why-nagarkot-list {
  list-style-type: disc;
  font-family: "Arial", sans-serif;
  margin-left: 20px;
  font-size: 16px;
  text-align: justify;
  color: white;
  line-height: 24px;
}

.why-nagarkot-list li {
  margin-bottom: 15px;
}

.why-nagarkot-summary {
  margin-top: 20px;
  font-size: 17px;
  color: white;
  line-height: 1.6;
  font-family: "Arial", sans-serif;
}

/* responsive code for mobile optimization  */ 
@media (min-width:320px) and (max-width:520px) {  /* screen sizes between 320px and 520px*/
  .apparel-fashion-section{
    width: 100%;
    min-height: 300px;
    margin-top: 0;
    
  }
  .apparel-content-wrapper{
    width:90%;
    margin: auto;
    text-align:initial;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .apparel-industry-overview{
    margin-top: 10px;
    
  }
  .apparel-industry-overview h2{
    font-size: 28px;
  }
  .apparel-industry-overview p{
    font-size: 15px;
   margin-bottom: 0;
 margin: auto;
  }
  .gray-line{
    margin-top: 0;
  }
  .apparel-offerings-section{
    padding: 0;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    
  }
  .apparel-offerings-title{
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 10px;
    
  }
  .apparel-offerings-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: auto;
    gap: 10px;
  }
  .apparel-offering-card{
    margin-bottom: 0;
   
  }
  .apparel-offering-card h3{
    font-size: 20px;
  }
  .apparel-offering-card p{
    font-size: 14px;
  }
  .apparel-section-title{
    font-size: 28px;
    line-height: 1.1;
    margin-top: 10px;
  }
  .apparel-section-description{
    font-size: 14px;
  }
  .why-nagarkot-section{
   display: flex;
   flex-direction: column;
   margin-left: 0;
   padding-left: 0;
   margin:20px auto;
   gap: 20px;
   
  }
  .image-container{
    width: 90%;
    margin:auto;
  }
  .why-nagarkot-image{
    margin-left: 0;
    width:100%;
    margin-top: 20px;
  }
  .content-container{
    width: 80%;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex: 1;
  }
  .why-nagarkot-title{
    font-size: 28px;
  }
  .why-nagarkot-list {
    margin-left: 0;
    line-height: 18px;
    text-align: inherit;
   
    
  }
  .why-nagarkot-list li{
    font-size: 14px;
  }
  .why-nagarkot-summary{
    font-size: 14px;
  }
}

@media (min-width:520px) and (max-width:978px) { /* screen sizes between 520px and 978px*/
  
  .apparel-fashion-section{
    width: 100%;
    min-height: 300px;
    margin-top: 0;
    
  }
  .apparel-content-wrapper{
    width:90%;
    margin: auto;
    /* text-align:initial; */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .apparel-industry-overview{
    margin-top: 10px;
    
  }
  .apparel-industry-overview h2{
    font-size: 28px;
   
  }
  .apparel-industry-overview p{
    font-size: 15px;
   margin-bottom: 0;
 margin: auto;
  }
  .gray-line{
    margin-top: 0;
  }
  .apparel-offerings-section{
    padding: 0;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    
  }
  .apparel-offerings-title{
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 10px;
    
  }
  .apparel-offerings-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    gap: 10px;
  }
  
  .apparel-offering-card h3{
    font-size: 20px;
    line-height: 1.1;
  }
  .apparel-offering-card p{
    font-size: 14px;
  }
  .apparel-section-title{
    font-size: 28px;
    line-height: 42px;
    margin-top: 10px;
  }
  .apparel-section-description{
    font-size: 14px;
  }
  .why-nagarkot-section{
   display: flex;
   flex-direction: column;
   margin-left: 0;
   padding-left: 0;
   margin:20px auto;
   gap: 20px;
   
  }
  .image-container{
    width: 90%;
    margin:auto;
  }
  .why-nagarkot-image{
    margin-left: 0;
    width:100%;
    margin-top: 20px;
  }
  .content-container{
    width: 80%;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
    flex: 1;
  }
  .why-nagarkot-title{
    font-size: 28px;
  }
  .why-nagarkot-list {
    margin-left: 0;
    line-height: 18px;
    text-align: inherit;
   
    
  }
  .why-nagarkot-list li{
    font-size: 16px;
  }
  .why-nagarkot-summary{
    font-size: 14px;
  }
}
