.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal is on top of other content */
  }
  
  .modal-content {
    background-color: white;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    position: relative;
    padding: 0; /* Remove padding to ensure the navbar spans the full width */
  }
  
  .form-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #8e79f7, #070463);
    padding: 10px 20px; /* Add padding to the navbar */
    border-radius: 8px 8px 0 0; /* Rounded corners on top */
  }
  
  .navbar-logo img {
    height: 20px; /* Adjust size as needed */
    width: auto; /* Maintain aspect ratio */
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
    color: #FFF; /* Match close button color to navbar */
  }
  
  .close-btn:hover {
    color: #DDD; /* Slightly lighter color on hover */
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 20px; /* Add padding to the form */
  }
  
  label {
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
  }
  
  .modal-content input,
  .modal-content textarea {
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 20px;
    border: 0;
    border-radius: 10px;
    outline: 0;
    margin-bottom: 25px;
    margin-top: 5px;
    resize: none;
  }
  
  .btn-submit {
    background: linear-gradient(to right, #8e79f7, #070463);
    color: #FFF;
    padding: 10px 20px; /* Adjust padding for a smaller button */
    font-size: 18px; /* Adjust font size for a smaller button */
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    align-self: center; /* Center the button horizontally */
  }
  
  .btn-submit:hover {
    background: linear-gradient(to left, #8e79f7, #070463);
  }
  