.automotive-section {
  background-image: url('/path-to-your-background-image.jpg');
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 250px; /* Adjust height for stripe-like appearance */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 64px;
}

.content-wrapper {
  text-align: center;
  color: white;
} 

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.section-description {
  margin-top: 10px;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

/* Industry Overview Section */
.industry-overview {
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}

.industry-overview h2 {
  font-size: 44px;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  color: #1A3E70;
}

.industry-overview p {
  text-align: justify;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  color: black;
}

.gray-line {
  border: none;
  border-top: 1px solid gray;
  margin-top: 40px;
}

/* Key Challenges Section */
.key-challenges {
  display: flex;
  padding: 40px 20px;
  background-color: white;
  align-items: center;
}

.key-challenges-content {
  flex: 1;
  padding-right: 20px;
  margin-left: 200px;
  margin-right: 100px;
}

.key-challenges-heading {
  font-size: 44px;
  margin-bottom: 40px;
  color: #1A3E70;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.key-challenges-list {
  list-style: none;
  padding-left: 0;
  font-size: 1.1rem;
  color: black;
  font-family: "Roboto", sans-serif;
}

.key-challenges-list li {
  margin-bottom: 15px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
}

.key-challenges-image {
  flex: 1;
}

.key-challenges-image img {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 200px;
  margin-top: 50px;
}