.automotive-section {
  background-image: url('/path-to-your-background-image.jpg');
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 250px; /* Adjust height for stripe-like appearance */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 64px;
}

.content-wrapper {
  text-align: center;
  color: white;
}

.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.section-description {
  margin-top: 10px;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}

.industry-overview {
  padding: 40px;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: rgb(209, 209, 209);
}

.overview-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.overview-item.left-image .overview-text {
  order: 2;
}

.overview-item.left-image img {
  order: 1;
}

.overview-item.right-image img {
  order: 2;
}

.overview-item.right-image .overview-text {
  order: 1;
}

.overview-image {
  width: 45%;
  height: auto;
  border-radius: 10px;
}

.overview-text {
  width: 50%;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}

.overview-text ul {
  font-size: 1.2rem;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

.overview-text ul li {
  margin-bottom: 10px;
} 

.logistics-offerings-section {
  padding: 40px;
  background-color: white;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
}

.logistics-offerings-section h2 {
  font-size: 44px;
  margin-bottom: 80px;
  color: #1A3E70;
}

.logistics-offerings-section h3 {
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  color: black;
}

.logistics-offerings-section p,
.logistics-offerings-section ul {
  font-size: 1.2rem;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  margin: 10px 0;
  color: black;
}

.logistics-offerings-section ul {
  list-style-type: disc;
  margin-left: 20px;
}
