@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');

.industry-section {
    text-align: center;
    padding: 40px 0;
  }
  
  .industry-title {
    font-size: 44px;
    background: linear-gradient(to left, #e4855d, #040254);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 100px;
    font-family: "Changa", sans-serif;
}

  
  .industry-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .industry-row {
    display: flex;
    justify-content: center; /* Center items horizontally */
    margin-bottom: 60px; /* Space between rows */
  }
  
  .industry-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 60px; /* Space between icons */
  }
  
  .industry-item img {
    height: 140px; /* Adjust as needed */
    width: auto;
    margin-bottom: 20px;
  }
  
  .industry-item p {
    font-size: 28px;
    color:black;
    font-weight: 400;
    margin: 0;
    font-family: "Changa", sans-serif;
  }
  
  
  /* responsive*/
  @media (min-width:320px) and (max-width:520px) {
    .industry-icons{
      display: flex;
      flex-direction: column;
      gap: 12px;
     
    }
    .industry-row{
      /* display: flex;
     
      flex-direction: column;
     
      margin: auto; */
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
    .industry-title{
      font-size: 32px;
      margin-bottom: 20px;
    }
    .industry-item{
      display: flex;
      flex-direction: column;
     
     
     margin-top: 40px;
    }
    .industry-item img{
      height: 100px;
    }
    
  }
  @media (min-width:520px) and (max-width:978px) {
    .industry-row{
      /* display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; */

      display: grid;
      grid-template-columns: repeat(2,1fr);
   
    }
  }