@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.hero {
    width: 100%;
    min-height: 100vh;
    background: white;
    background-size: cover;
    background-position: center;
    color: black;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px; /* Adjust this padding as needed */
}

.hero-text {
    text-align: left;
    max-width: 800px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.hero-text p {
    max-width: 700px;
    margin: 10px 0 20px;
    line-height: 1.2;
}

.highlight {
    font-weight: bold;
    font-size: 60px;
    display: block;
}
.sub{
    font-size: 38px;
}
