.healthcare-section {
    background: linear-gradient(rgba(58, 55, 86, 0.7), rgba(10, 1, 61, 0.7)), url('../../../assets/industry_logo/healthcare.webp');
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 250px; /* Adjust height for stripe-like appearance */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 64px;
  }
  
  .healthcare-content-wrapper {
    text-align: center;
    color: white;
  }
  
  .healthcare-section-title {
    font-size: 3.0rem;
    font-weight: bold;
    font-family: "Changa", sans-serif;
  }
  
  .healthcare-section-description {
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: "Changa", sans-serif;
  }

  /* Industry Overview Section */
.healthcare-industry-overview {
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}

.healthcare-industry-overview h2 {
  font-size: 44px;
  margin-bottom: 25px;
  font-family: "Changa", sans-serif;
  font-weight: normal;
  color: #1A3E70;
}

.healthcare-industry-overview p {
  text-align: justify;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Arial", sans-serif;
  font-size: 1.1rem;
  line-height: 24px;
  color: black;
}

.gray-line {
  border: none;
  border-top: 1px solid gray;
  margin-top: 40px;
}

/* Offerings Section */
.healthcare-offerings-section {
  padding: 40px 20px;
  background-color: rgb(235, 248, 253);
}

.healthcare-offerings-title {
  font-size: 44px;
  text-align: center;
  margin-bottom: 40px;
  color: #1A3E70;
  font-family: "Changa", sans-serif;
  font-weight: normal;
}

.healthcare-offerings-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-right: 200px;
  margin-left: 200px;
}

.healthcare-offering-card {
  background-color: rgb(235, 248, 253);
  padding: 10px;
}

.healthcare-offering-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  font-family: "Changa", sans-serif;
  font-weight: normal;
}

.healthcare-offering-card p,
.healthcare-offering-card ul {
  font-size: 16px;
  color: black;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  text-align: justify;
}

/* Why Nagarkot Section */
.why-nagarkot-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A3E70;
}

.image-container {
  flex: 1;
}

.why-nagarkot-image {
  width: 100%;
  height: auto;
  border-radius: 0px;
  opacity: 0.5; /* Adds opacity to the image */
  margin-left: 50px;
}

.content-container {
  flex: 1.5;
  padding-left: 200px;
  margin-right: 50px;
}

.why-nagarkot-title {
  font-size: 44px;
  margin-bottom: 15px;
  font-family: "Changa", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  color: white;
}

.why-nagarkot-list {
  list-style-type: disc;
  font-family: "Arial", sans-serif;
  margin-left: 20px;
  font-size: 1.1rem;
  line-height: 24px;
  text-align: justify;
  color: white;
}

.why-nagarkot-list li {
  margin-bottom: 15px;
}

.why-nagarkot-summary {
  margin-top: 20px;
  font-size: 1.1rem;
  color: white;
  line-height: 1.6;
  font-family: "Arial", sans-serif;
}
