.industry-container{
    display: none;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#090979,#01b2f5) !important;
    font-family: "Changa", sans-serif;
     margin-top: 0;
 }
 .industry-menu{
     display: flex;
     flex-direction: column;
     gap: 14px;
     color: white;
     width: 90%;
     margin: auto;
 }
 .industry-menu li{
     font-size: 16px;
     list-style: none;
 }

 @media (min-width:320px) and (max-width:978px) {
    .industry-container{
        display: block;
        position: absolute;
        top: 0;
        z-index: 999;
    }
 }