@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.sol-hero {
  display: flex;
  position: relative; /* This is important for absolutely positioning the image */
  align-items: center;
  justify-content: flex-start; /* Aligns text to the left */
  height: 80vh;
  padding: 20px;
  background-color: white;
  padding-left: 100px; /* Space from the left */
  margin-top: 65px;
}

.hero-content {
  flex: 1;
  max-width: 40%;
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 20px;
  font-family: "Changa", sans-serif;
  z-index: 2; /* Ensure text appears above the image */
}

.hero-title {
  font-size: 64px;
  margin-bottom: 40px;
  font-family: "Changa", sans-serif;
  line-height: 1.4;
  max-width: 90%;
  word-wrap: break-word;
  color: #1A3E70;
}

.hero-button {
  background: linear-gradient(to right, #e03b3b, #8f0404);
  color: white;
  padding: 14px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  border: 0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  margin-top: 50px;
  align-self: flex-start;
}

.hero-button:hover {
  box-shadow: 0 0 35px #C61C1A;
  background: linear-gradient(to left, #e03b3b, #8f0404);
}

.hero-description {
  font-size: 24px;
  line-height: 1.6;
  margin-top: 15px;
  max-width: 100%;
}

.hero-background {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 55%; /* Adjust width to control how much space the image covers */
  height: 90%;
  background-size: cover;
  margin-top: 65px;
  z-index: 0; /* Place it behind the text */
}


@media(min-width:320px) and (max-width:520px){
  .sol-hero{
    margin-top: 0;
    width: 90%;
    height: 70vh;
    padding: 0;
    overflow: hidden;
    margin: auto;
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
  } 

  .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100% !important;
    height: 250px !important;
    position: absolute;
    gap: 10px;
    margin:auto 0;
    padding: 0;
    padding-right: 0;
   text-align: center;
    height: 100%;
  }

  .hero-content p{
   padding: 0;
   width: 100%; 
   font-size: 14px;
   line-height: 1.4;
  }
 
  .sol-hero .hero-title {
    text-align:inherit;
    width: 100% !important;
    margin-top: 10px;
    font-size: 22px !important;
    line-height:1.1;  
    margin-bottom: 0 !important;
  }

  .hero-background {
    position: absolute;
    width:100%;
    height: 50%;
    object-fit: cover;
    opacity: 80%;
    margin: auto;
    margin-top: 200px;
    overflow: hidden;
  }
}

@media(min-width:521px) and (max-width:978px){
  .sol-hero {
    margin-top: 0;
    width: 100%;
    height: 430px;
    position: relative;
    margin: auto;
  } 

  .hero-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin:auto;
    position: absolute;
    top: 0;
    left: 6%;
    z-index: 1;
    text-align: center;
  }

  .hero-content p {
   padding: 0;
   width: 100%; 
   line-height: 1.4;
   font-size: 16px;
  }
 
  .hero-title {
    width: 100%;
    margin-top: 30px;
    font-size: 24px;
    line-height:1.1;  
  }
 
  .hero-background {
    width: 65%;
    opacity: 80%;
    position: absolute;
    margin-top: 50px;
  }

  .hero-button {
    padding: 4px 8px;
    font-size: 14px;
    margin-top: 20px !important;
  }
}

