@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.service-section {
    padding: 40px 20px;
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
}

.section-title {
    font-size: 44px;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Changa", sans-serif;
    color: #1A3E70;
    font-weight: normal;
}

.service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.service-card {
    position: relative;
    width: 30%;
    min-width: 280px;
    height: 400px;
    perspective: 1000px;
    margin-bottom: 40px;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.service-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
    top: 0; /* Keeps content aligned in both front and back */
    left: 0;
}

.card-front {
    background-size: cover;
    background-position: center;
}

.card-front::before {
    content: ""; /* Necessary to display the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(69, 64, 97, 0.7), rgba(58, 55, 86, 0.7));
    border-radius: 10px; /* Matches the card's rounded corners */
    z-index: 1; /* Keeps it behind text and other content */
}

/* Title for the front of the card */
.card-heading-front {
    font-size: 24px;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    top: 150px; /* Position at the bottom of the card */
    width: 90%; /* Adjust width to suit design */
    margin: 0 auto;
    z-index: 1;
}

.card-back {
    background-color: #1A3E70; 
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    z-index: 1;
}

/* Description on the back of the card */
.card-description {
    font-size: 24px;
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-top: 50px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease 0.3s, transform 0.5s ease 0.3s;
}

.service-card:hover .card-description {
    opacity: 1;
    transform: translateY(0);
}

.service-card:hover .card-heading-front {
    opacity: 0;
    transform: translateY(0);
    
}

.service-card:hover {
    transform: translateY(-5px);
}
