@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.service-section {
    padding: 40px 20px;
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .section-title {
    font-size: 44px;
    text-align: center;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
    color: #1A3E70;
  }
  
  .service-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .service-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 30%;
    min-width: 280px;
    text-align: center;
    margin-bottom: 40px;
  }

  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card-heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
  }
  
  .card-description {
    font-size: 14px;
    color: black;
    font-family: "Roboto", sans-serif;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
  }
  