@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.value-section {
  padding: 40px 20px;
  background-color: white;
  margin-left: 60px;
  margin-top: 100px;
  margin-right: 60px;
} 

.value-header {
  font-size: 44px;
  font-family: "Changa", sans-serif;
  margin-bottom: 50px;
  color: #1A3E70;
  text-align: center;
  font-weight: normal;
}

.value-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.value-card {
  flex: 1;
  padding: 20px;
  background-color: white;
  text-align: left;
  border-radius: 8px;
}

.value-title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Changa", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

.value-description {
  font-size: 18px;
  line-height: 1.6;
  font-family: "Changa", sans-serif;
}

@media (min-width:320px) and (max-width:475px) {
  .value-section{
    margin: auto;
    padding: 0;
    width: 90%;
  }
  .value-header{
    font-size:28px;
    margin: 20px auto;
    line-height: 1.1;
  }
  .value-container{
    display: flex;
    flex-direction: column;
    width: 100%;
 
  }
 .value-card{
  width: 100%;
  
 }
 .value-description{
  font-size: 14px;
 }
}
@media (min-width:475px) and (max-width:978px) {
  .value-section{
    margin: auto;
    padding: 0;
    width: 90%;
  }
  .value-header{
    margin-top: 50px;
    font-size: 34px;
    line-height: 1.1;
  }
  .value-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
 
  }
 .value-card{
  width: 100%;
  margin-top:0;
  
 }
 .value-description{
  font-size: 14px;
 }
}