@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* New "Still Got Questions" Section */
.still-got-questions {
    background-color: #1A3E70;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    position: relative;
    left: 0;
    right: 0;
    width: 100%; /* Full width without horizontal scrolling */
    box-sizing: border-box;
  }
  
  .still-got-questions-text p {
    font-size: 44px;
    font-family: "Changa", sans-serif;
    margin: 0;
    font-weight: 400;
    color: white; 
    margin-left: 60px;
  }
  
  .still-got-questions-button button {
    background: linear-gradient(to right, #e03b3b, #8f0404);
    color: #FFF;
    padding: 14px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    margin-right: 60px;
  }
  
  .still-got-questions-button button:hover {
    box-shadow: 0 0 35px #C61C1A;
    background: linear-gradient(to left, #e03b3b, #8f0404);
  }

   /*responsive*/
   @media (min-width:320px) and (max-width:720px) {
    .still-got-questions{
      display: flex;
      flex-direction: column;
      padding: 0;
      justify-content: center;
      align-items: center;
    }
    .still-got-questions-text p{
      font-size: 32px;
    }
    .still-got-questions-button{
      margin-bottom: 12px;
    }
  }
  