.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: white;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .hero-content {
    flex: 1;
    max-width: 40%;
  }
  
  .hero-title {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 20px;
    font-family: "Changa", sans-serif;
  }
  
  .hero-subtitle {
    font-size: 26px;
    margin-bottom: 20px;
    font-family: "Changa", sans-serif;
    font-weight: 400;
  }
  
  .hero-button {
    background-color: #e03b3b;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .hero-image img {
    max-width: 650px;
    max-height: auto;
    border-radius: 10px;
  }
  
  .hero-image {
    margin-right: 30px;
  }
  