
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: white;
}
a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

.container{
    padding-left: 5%;
    padding-right: 5%;
}

.btn {
    background: linear-gradient(to right, #e03b3b, #8f0404);
    color: #FFF;
    padding: 14px 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    outline: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
  }
  
  .btn:hover {
    /* background: #C61C1A; /* Slightly darker shade for hover effect */
    box-shadow: 0 0 35px #C61C1A; /* Matching box-shadow for hover effect */
    background: linear-gradient(to left, #e03b3b, #8f0404);
  }