@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.faq-heading {
    text-align: center;
    font-size: 44px;
    font-family: 'Changa', sans-serif;
    margin-bottom: 70px;
    margin-top: 100px;
    background: linear-gradient(to left, #e4855d, #040254);
    -webkit-background-clip: text;
    color: transparent;
  }

.faq-container {
  width: 100%;
  max-width: 1228px;
  margin: 0 auto;
  font-family: "Changa", sans-serif;
}

.faq-navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #ccc;
  margin-bottom: 40px;
  padding-bottom: 15px;
}

.faq-navbar-item {
  padding: 10px 20px;
  background-color: transparent;
  font-family: 'Changa', sans-serif;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  color: #000;
  position: relative;
  background-clip: text;
  border-radius: 5px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.faq-navbar-item:hover {
  color: #8e79f7;
}

.faq-navbar-item.active {
  background: linear-gradient(to right, #8e79f7, #070463);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.faq-navbar-item.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #8e79f7, #070463);
}

.faq-content {
  margin-top: 20px;
}

.faq-question-card {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.faq-question-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.faq-question {
  padding: 5px;
  background-color: rgb(230, 230, 245);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.faq-accordion-button {
  font-size: 28px;
  color: #070463;
  transition: transform 0.3s ease;
}

.faq-question:hover .faq-accordion-button {
  transform: rotate(90deg);
}

.faq-answer {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  font-size: 20px;
  background-color: #fff;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.faq-answer.expanded {
  max-height: 200px;
  padding: 15px;
}

 /*responsive*/
@media (min-width:320px) and (max-width:720px) {
  /* .faq-navbar{
    background-color: red;
  } */
  .faq-navbar-item{
    font-size: 16px;
  }
  .faq-question{
    font-size: 14px;
  }
  .faq-answer{
    font-size: 14px;
  }
}